<template>
</template>

<script>
  import { Howl } from 'howler'
  import { mapGetters } from 'vuex'
  import config from '../config.js'
  export default {
    // to store the howler sound instances (non reactive)
    // access with this.$options.sounds
    sounds: [],
    props: [
      'level',
      'scene',
      'timeline'
    ],
    data: function () {
      return {
      }
    },
    computed: {
      ...mapGetters([
        'getSoundEffect',
        'showLandscapeGuerd',
        'introFinished',
        'showPauseMenu'
      ]),
      getSounds () {
        return this.$options.sounds
      }
    },
    watch: {
      getSoundEffect: function (newVal, oldVal) {
        if (newVal && newVal !== oldVal) {
          this.playSound(newVal)
        }
      },
      showLandscapeGuerd: function (val) {
        // TODO: check if audio should play or not
        if (val) {
          this.pauseSound('loop')
        } else {
          if (this.introFinished) this.playSound('loop')
        }
      },
      showPauseMenu: function (val) {
        // TODO: check if audio should play or not
        if (val) {
          this.pauseSound('loop')
        } else {
          if (this.introFinished) this.playSound('loop')
        }
      }
    },
    mounted () {
      // load audio files
      this.loadSounds()

      this.$bus.$on('nextLevel', function (val) {
        if (val === 0) {
          // currently the soundtrack audio starts on level 0 scene 0 and does not stop
          // we begin from the beginning of the track if video sync is needed use this.timeline.start
          this.playSound('loop', 0)
        }
        // if we need to pause the audio file
        // this.pauseSound('80svibe')
      }.bind(this))

      this.$bus.$on('playSoundEffect', function (val) {
        console.log('00 AudioPlayer playSoundEffect', val)
        if (val) {
          this.playSound(val)
        }
      }.bind(this))
    },
    methods: {
      playSound (id, seek) {
        var soundRef = this.getSoundId(id)[0].ref
        if (seek) {
          soundRef.seek(seek)
        }
        soundRef.play()
        // console.log('AudioPlayer playing:', id, soundRef)
      },
      pauseSound (id) {
        var soundRef = this.getSoundId(id)[0].ref
        soundRef.pause()
      },
      getSoundId (id) {
        // access the sound with id.ref
        return this.$options.sounds.filter(sound => sound.id === id)
      },
      loadSounds () {
        var itemsProcessed = 0
        var vol = 1
        var lop = false
        config.audioFiles.forEach(function (src, index) {
          if (src === 'ticktack') vol = 0.2
          if (src === 'loop') lop = true
          var sound = new Howl({
            src: [src + '.mp3'],
            volume: vol,
            loop: lop
          })
          this.$options.sounds.push({id: src, ref: sound})
          itemsProcessed++
          if (itemsProcessed === config.audioFiles.length) {
            this.$bus.$emit('preloaded', 'audio')
            // console.log('sounds: preloaded audio')
          }
        }.bind(this))
      }
    }
  }
</script>

<style lang="scss">
</style>
