<template>
<div class="countdown-wrapper" :class="{ 'countdown--warning': warning }">
  <div class="countdown">
    <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="UI-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="UI-Font12px-Copy-2" transform="translate(-680.000000, -93.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <g id="Group" transform="translate(680.000000, 86.000000)">
                    <g id="ic_schedule_48px" transform="translate(0.000000, 7.000000)">
                        <path d="M12.49375,0 C5.5875,0 0,5.59375 0,12.5 C0,19.40625 5.5875,25 12.49375,25 C19.4,25 25,19.40625 25,12.5 C25,5.59375 19.4,0 12.49375,0 Z M12.5,22.5 C6.975,22.5 2.5,18.025 2.5,12.5 C2.5,6.975 6.975,2.5 12.5,2.5 C18.025,2.5 22.5,6.975 22.5,12.5 C22.5,18.025 18.025,22.5 12.5,22.5 Z M13.125,6.25 L11.25,6.25 L11.25,13.75 L17.80625,17.6875 L18.75,16.15 L13.125,12.8125 L13.125,6.25 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    <div class="counter" ref="counter">00:{{sec}}</div>
  </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: [
    'start'
  ],
  data () {
    return {
      sec: 20,
      warning: false,
      finished: false,
      tick: false,
      taunt: false
    }
  },
  mounted () {
    if (this.start) {
      this.initTimer()
    }
  },
  computed: {
    ...mapGetters([
      'gamePreloaded'
    ])
  },
  watch: {
    finished: function (val) {
      if (val) this.$bus.$emit('nextScene', 4)
    },
    tick: function (val) {
      if (val) {
        this.$bus.$emit('playSoundEffect', 'ticktack')
      }
    },
    taunt: function (val) {
      if (val) {
        this.$bus.$emit('playSoundEffect', 'nodear')
      }
    }
  },
  methods: {
    initTimer () {
      var timeleft = this.sec
      var timer = setInterval(function () {
        this.sec = --timeleft
        if (timeleft < 10) {
          this.sec = '0' + timeleft
          this.taunt = true
        }
        if (timeleft < 9) {
          this.warning = true
          this.tick = true
        }
        if (timeleft <= 0) {
          this.finished = true
          clearInterval(timer)
        }
      }.bind(this), 1000)
    }
  }
}
</script>

<style lang="scss">

  .countdown-wrapper {
    position: absolute;
    top: $space-m;
    left: 42%;

    @media screen and (min-width: 768px) {
      top: $space-xxs;
    }

    .countdown{
      display: flex;
      align-items: center;

      svg{
        width: $space-xs;
        height: $space-xs;

        @media screen and (min-width: 768px) {
          width: $space-s;
          height: $space-s;
        }
      }
    }

    .counter{
      margin-left: $space-xs;
      font-size: $space-xs;
      color: white;

      @media screen and (min-width: 768px) {
        font-size: $space-s;
      }
    }

    &.countdown--warning{
      .countdown svg g{
        fill: red;
      }
      .counter{
        color: red;
      }
    }
  }
</style>
