<template>
<div class="game-intro">
  <transition name="fade" mode="out-in" appear>
    <div class="game-name" v-if="show" key="1">
      <h5 class="screen-subtitle">Mey presents</h5>
      <h1 class="screen-title" v-html="text.gameTitle[language]"></h1>
      <div class="game-intro__gesture" :class="{ 'fade-out': draggingStarted }">
        <div class="game-intro__gesture-icon">
          <svg viewBox="0 0 24 39">
            <path d="M1.97 13.169c.224.173.438.358.643.555a9.2 9.2 0 0 1 1.665 2.513l.133.261c.183.355.344.738.51 1.138.255.676.581 1.323.971 1.93l.283.406c.604.792 1.116 1.65 1.526 2.558.172.427.333.871.494 1.304.261.705.527 1.437.85 2.142.15.333.277.693.415 1.076.166.503.364.994.594 1.47.335.724.592 1.481.766 2.26l.055.205c.522 1.97 1.11 3.884 1.526 5.354a3.801 3.801 0 0 0 2.176 2.076 7.03 7.03 0 0 0 2.896.582c.355 0 .71-.026 1.06-.077a5.932 5.932 0 0 0 4.29-2.742c.172-.306.295-.637.366-.982.045-.15.062-.309.05-.466.01-.391-.067-.78-.228-1.137-.15-.328-.555-2.092-.893-3.374-.228-.927-.439-1.798-.6-2.37-.33-1.02-.477-2.02-.432-3.018.142-.895.376-1.773.699-2.62l.122-.355c.136-.366.297-.722.483-1.065.11-.216.222-.433.321-.666a6.97 6.97 0 0 0 .367-1.11c.044-.172.088-.333.138-.488.458-1.325.7-2.715.716-4.117-.055-1.665-.35-4.6-1.709-5.4a1.587 1.587 0 0 0-1.32-.133l-.15-.521a2.392 2.392 0 0 0-2.042-1.843 2.564 2.564 0 0 0-1.543.195 4.567 4.567 0 0 0-.794-1.243 2.464 2.464 0 0 0-2.363-.688 2.652 2.652 0 0 0-1.399.86 13.234 13.234 0 0 1-.627-2.525 7.258 7.258 0 0 1-.055-.677 4.789 4.789 0 0 0-.222-1.432A1.47 1.47 0 0 0 10.265.001a1.765 1.765 0 0 0-1.287.5c-.666.665-.66 1.77-.655 2.502v.144c0 2.947.366 5.122 1.193 7.047.39.875.444 1.863.15 2.775a6.248 6.248 0 0 1-.638 1.293 1.892 1.892 0 0 1-.14.189 9.876 9.876 0 0 1-1.059-1.476c-.26-.417-.527-.844-.888-1.321a5.832 5.832 0 0 0-3.118-2.22c-1.626-.388-2.664-.366-3.258.072a1.276 1.276 0 0 0-.56.933c-.089 1.137 1.049 2.02 1.964 2.73zm11.974 23.128c.017-.336.146-.656.366-.91.389-.488 1.304-1.11 3.48-1.193 3.057-.144 3.884.366 4.04.555a.31.31 0 0 1 .06.072c-.03.256-.112.503-.238.727a4.595 4.595 0 0 1-3.291 2.047 5.771 5.771 0 0 1-3.18-.421 3.418 3.418 0 0 1-1.237-.877zM1.364 10.572c.122-.05.616-.183 2.103.172.955.3 1.783.909 2.353 1.731.328.427.555.827.816 1.215a11.42 11.42 0 0 0 1.143 1.604c.277.36.71.567 1.165.555a1.665 1.665 0 0 0 1.188-.866c.32-.495.583-1.026.782-1.581a5.26 5.26 0 0 0-.177-3.774c-.75-1.747-1.11-3.756-1.11-6.509v-.155c0-.472 0-1.265.255-1.531a.405.405 0 0 1 .322-.1c.15 0 .244.055.305 1.148 0 .267.033.555.072.805.177 1.322.561 2.609 1.138 3.812l.11.228c.073.222.15.405.234.616.328.9.802 1.74 1.404 2.486a.683.683 0 0 0 .999-.933 7.968 7.968 0 0 1-1.088-2.125l-.178-.333c.22-.396.55-.72.95-.932.676-.089.887-.039 1.192.283.417.554.727 1.18.916 1.848v.122c.247.658.56 1.29.932 1.886.128.222.261.45.378.672a.683.683 0 0 0 1.198-.655c-.128-.239-.266-.472-.394-.7-.285-.493-.53-1.009-.732-1.542a.216.216 0 0 1 .072-.083 1.11 1.11 0 0 1 .727-.094c.483.035.88.394.965.87l.344 1.188a.677.677 0 0 0 .084.294c.305 1.044.66 2.22.787 2.62a.692.692 0 0 0 1.31-.45c-.105-.31-.394-1.27-.666-2.22.15-.055.211 0 .244 0 .455.267.955 1.82 1.038 4.268a11.98 11.98 0 0 1-.655 3.668 9.058 9.058 0 0 0-.15.554 5.87 5.87 0 0 1-.288.944c-.089.2-.189.4-.3.61-.214.4-.4.816-.555 1.243l-.122.355c-.352.93-.607 1.893-.76 2.875a8.806 8.806 0 0 0 .466 3.49c.15.633.36 1.493.588 2.414.261 1.07.574 1.467.74 2.089a12.73 12.73 0 0 0-3.734-.244c-2.092.1-3.573.644-4.406 1.62-.344-1.165-.823-2.033-1.178-3.376l-.056-.206a12.413 12.413 0 0 0-.843-2.547c-.204-.422-.38-.858-.528-1.304-.138-.394-.283-.799-.46-1.187-.3-.66-.555-1.365-.805-2.048-.16-.444-.327-.899-.505-1.343a14.244 14.244 0 0 0-1.664-2.835l-.278-.4a9.161 9.161 0 0 1-.838-1.664c-.172-.411-.35-.838-.555-1.243l-.133-.256a10.399 10.399 0 0 0-1.925-2.852 8.629 8.629 0 0 0-.772-.643c-.482-.394-1.437-1.138-1.465-1.554z" fill="#FFF" fill-rule="nonzero"/>
          </svg>
        </div>
        <p class="game-intro__gesture-description" ref="gestureDescription" v-html="text.gestureDescription[language]"></p>
        <!-- TODO: Button only for testing, remove in production-->
        <a href="#" @click="cheat()" style="position:absolute;top:0;left:0;right:0;bottom:0;z-index:9999;"></a>
      </div>
      <touch-area-intro
        v-on:succeed="nextIntroScene"
        v-on:started="onDraggingStarted"
        ></touch-area-intro>
    </div>
  </transition>
  <transition name="fade" mode="out-in" >
  <div class="game-options" v-if="scene === 2" key="2">
    <h4 class="screen-title" v-html="text.gameOptionsTitle[language]"></h4>
    <div class="game-difficulty">
      <div class="difficulty-choice" :class="{ 'selected': selected === option.id }" v-for="option in options" :key="option.id" >
        <input type="radio" :id="option.id" :value="option.id" v-model="selected" >
        <label :for="option.id">{{option.value}}</label>
      </div>
    </div>
    <a class="preloader-btn" :class="{ 'hidden': introFinished }" @click="preloadGame()">{{text.gamePlayButton[language]}}</a>
  </div>
  </transition>
</div>
</template>

<script>
import { mapGetters } from 'vuex';
import TouchAreaIntro from '~/components/TouchAreaIntro.vue';
import config from '../config.js';

export default {
  props: ['text'],
  components: {
    TouchAreaIntro
  },
  data() {
    return {
      show: false,
      timeline: undefined,
      showIntro: false,
      showVideo: true,
      scene: 0,
      selected: 'normal',
      draggingStarted: false,
      options: [
        { id: 'normal', value: '' },
        { id: 'hard', value: '' }
      ]
    };
  },
  mounted() {
    this.timeline = config.game.intro;
    this.$bus.$on('startIntro', this.handleIntro);
    this.$bus.$on('showGameName', this.showGameName);
    this.setOptionsText();
  },
  computed: {
    ...mapGetters([
      'gamePreloaded',
      'currentLevel',
      'introFinished',
      'language',
      'difficulty'
    ])
  },
  watch: {
    selected: function(val) {
      this.playSound();
      this.$store.dispatch('setDifficulty', this.selected)
    },
    language: function(val) {
      this.setOptionsText()
    }
  },
  methods: {
    setOptionsText(id) {
      this.options.map((option, i) => {
        console.log(this.text.gameOptions[this.language][i]);
        option.value = this.text.gameOptions[this.language][i];
      });
    },
    playSound() {
      this.$bus.$emit('playSoundEffect', 'tap-resonant');
    },
    showGameName() {
      setTimeout(
        function() {
          this.show = true;
        }.bind(this),
        3000
      );
    },
    handleIntro() {
      this.scene = 1;
    },
    nextIntroScene() {
      this.playSound();
      setTimeout(() => {
        this.show = false;
        this.scene = 2;
      }, 1000);
    },
    preloadGame() {
      this.playSound();
      this.$bus.$emit('nextLevel', 0);
      this.$nextTick(() => {
        this.$store.dispatch('setIntroFinished', true);
        this.showVideo = false;
      });
    },
    onDraggingStarted() {
      this.draggingStarted = true;
    },
    cheat() {
      this.onDraggingStarted();
      this.nextIntroScene();
    }
  },
  beforeDestroy: function() {}
};
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.game-intro {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex-game-intro;

  &__gesture {
    position: relative;
    text-align: center;
    transition-property: opacity, visibility;
    transition-duration: 0.2s;

    &.fade-out {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__gesture-icon {
    width: 24px;
    height: 39px;
    margin: 0 auto;
  }

  &__gesture-description {
    margin-top: 10px;
    font-size: 9px;
    font-weight: $font-weight-extra-bold;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    text-align: center;
  }

  .v_intro {
    z-index: $zindex-game-intro;
  }
  .game-name,
  .game-options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: $zindex-game-options;
    // visibility: hidden;
    // opacity: 0;
    // transition-delay: 1s;
    // transition: opacity 1s cubic-bezier(0.64, 0.57, 0.67, 1.53);

    &.show-layer {
      visibility: visible;
      opacity: 1;
      transition-delay: 1s;
      transition: opacity 1s cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
  }

  h5 {
    // color: $c-grey;
  }

  .game-difficulty {
    display: flex;
    justify-content: center;

    .difficulty-choice {
      border-bottom: 4px solid transparent;
      margin: $space-m $space-xxs;
      font-size: 1.65em;
      color: $c-beige;
      opacity: 0.4;
      text-transform: uppercase;

      input {
        width: 0;
        opacity: 0;
      }

      &.selected {
        border-color: white;
        opacity: 1;
      }
    }
  }

  .preloader-btn {
    border: 2px solid white;
    color: white;
    padding: $space-xxs $space-m;
  }

  @media screen and (min-width: 768px) {
    .game-name h1 {
      width: 65%;
    }

    .game-difficulty .difficulty-choice {
      font-size: 2.65em;
    }
  }
}
</style>
