<template>
<div ref="page" class="infoPage">
  <a class="close" v-on:click="closePage">
    <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="*-Tablet-Screens" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
            <g id="Tablet-Level-Start-Alternative-Copy-9" transform="translate(-945.000000, -46.000000)" stroke="#000000" stroke-width="3">
                <g id="header" transform="translate(64.000000, 48.000000)">
                    <g id="close" transform="translate(883.000000, 0.000000)">
                        <path d="M0.5,0.5 L12.5,12.5" id="Line"></path>
                        <path d="M0.5,0.5 L12.5,12.5" id="Line-Copy" transform="translate(6.500000, 6.500000) scale(-1, 1) translate(-6.500000, -6.500000) "></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
  </a>
  <a class="logo" v-on:click="closePage">
    <svg width="57px" height="20px" viewBox="0 0 57 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="*-Tablet-Screens" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Tablet-Level-Start-Alternative-Copy-9" transform="translate(-64.000000, -48.000000)" fill="#000000">
                <g id="header" transform="translate(64.000000, 48.000000)">
                    <g id="mey-logo">
                        <path d="M27.9208103,3.058033 C28.145659,2.87005795 28.4635872,2.82764895 28.7708618,2.84885345 L34.8479448,2.84885345 C35.1552193,2.91132077 35.4423079,3.20474522 35.544359,3.49816968 C35.6267848,3.91710186 35.5858522,4.41970586 35.5858522,4.85984254 L27.5518566,4.85984254 C27.5927891,4.23173082 27.3881264,3.47696518 27.9208103,3.058033 M38.8856892,10.8297694 C38.7623308,10.3059609 38.2913261,9.86639731 37.7580814,9.76152099 L28.5146128,9.76152099 L28.1052872,9.61480877 C27.3881264,9.2801215 27.5720425,8.33738081 27.5311099,7.64565558 L37.6150978,7.64565558 C38.1483425,7.56198377 38.6602798,7.14305159 38.82401,6.61924309 C39.0084869,5.6770755 38.9058751,4.67129441 38.9473684,3.66551331 C38.8856892,3.20474522 38.7830775,2.76518164 38.6193472,2.34624945 C38.0866633,1.06824841 36.7947645,0.146712228 35.4832405,0 L28.556106,0 C27.9404355,0.020631407 27.3264472,0.0630404103 26.7932025,0.292851361 C25.3583201,0.816659861 24.2514589,2.34624945 24.2105263,3.89589736 L24.2105263,8.65143668 C24.2105263,9.42683372 24.4359357,10.0967814 24.7847036,10.7248931 C25.5018644,11.9398537 26.7522699,12.589743 28.1052872,12.6315789 L37.5943511,12.6315789 C37.8814398,12.6109475 38.1483425,12.5060712 38.3737519,12.3387276 C38.8447567,11.9822627 39.0084869,11.3959869 38.8856892,10.8297694" id="Fill-1"></path>
                        <path d="M55.6854621,0.113130483 C55.0419434,-0.0237648777 54.3780566,0.231236284 53.996019,0.780428259 L47.2547608,9.21747721 L45.2019965,9.21747721 C44.7995908,9.159498 44.3569996,8.9232864 44.2166256,8.51206347 L44.1158865,8.11909326 L44.1158865,1.30975699 C44.1158865,1.27808316 43.7586208,-0.0586597734 42.4280948,0.00200366075 C41.0304095,0.0664250068 40.8157197,1.39779949 40.8157197,1.40799954 L40.8157197,8.58990593 C40.8960908,9.96422798 42.0036697,11.3568027 43.3710783,11.749773 C43.8544054,11.9451844 44.4577387,11.9650476 45.0214369,11.9849109 L45.0010689,12.063827 L38.9473684,20 L42.8470151,20 L56.611931,2.35016172 C56.8530441,1.99745485 56.9130471,1.46705244 56.7523051,1.05475582 C56.591563,0.623132805 56.1489718,0.211373035 55.6854621,0.113130483" id="Fill-3"></path>
                        <path d="M22.0789132,11.1789675 L22.0997915,4.71747716 C22.1206698,3.81516917 22.0997915,2.91342231 21.7076177,2.15420421 C21.1297963,0.984795101 19.8928972,0.123450098 18.6136771,0 L12.6532002,0 C12.2051629,0 11.9010166,0.251950427 11.6555553,0.566748178 C11.379623,0.921947778 11.3880872,1.38151882 11.3327879,1.43707137 C10.776409,0.676730992 9.9508691,0.0415241239 9.00231645,0 L1.55665778,0 L1.10241336,0.103249173 C0.545470189,0.287863183 0.0917900393,0.861345002 0.00996961433,1.41574817 L0.00996961433,10.7272524 C-0.0323512951,11.2608935 0.0505976874,11.7530105 0.442771448,12.1227996 C0.875573282,12.5531916 1.4737088,12.7170435 2.09215836,12.5733925 C2.69142244,12.4505035 3.20660897,11.8556985 3.28899368,11.2816556 L3.28899368,2.81017314 L8.5486363,2.81017314 L8.83754705,2.91342231 C9.14677182,3.07727426 9.43624685,3.38477723 9.41536853,3.75456639 L9.41536853,10.8916655 C9.37304762,11.5066714 9.62076601,12.0403125 10.1156385,12.3685776 C10.5698829,12.6356787 11.2509674,12.7378056 11.7458399,12.4914665 C12.2615908,12.2664507 12.7147066,11.7120475 12.7564633,11.1582055 L12.7564633,2.81017314 L17.8507722,2.81017314 L18.1808753,2.89266025 C18.4489077,3.03631128 18.6966261,3.28265034 18.7378185,3.56939124 L18.7586968,10.7272524 C18.6966261,11.3843436 18.8822738,11.9785875 19.4183387,12.3483766 C19.8928972,12.6356787 20.635488,12.7378056 21.1512389,12.4505035 C21.6461114,12.2047256 22.0174068,11.7120475 22.0789132,11.1789675" id="Fill-6"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
  </a>

  <nav class="page-menu" v-on:click.prevent>
    <a href="#" :class="{ 'selected': active === 'info'}" v-on:click="makeActive('info')">Info</a>
    <a href="#" :class="{ 'selected': active === 'credits'}" v-on:click="makeActive('credits')">Credits</a>
    <a href="#" :class="{ 'selected': active === 'impressum'}" v-on:click="makeActive('impressum')">impressum</a>
    <a href="#" :class="{ 'selected': active === 'datenschutz'}" v-on:click="makeActive('datenschutz')">datenschutz</a>
    <a href="#" :class="{ 'selected': active === 'mey'}" v-on:click="makeActive('mey')">mey.de</a>
  </nav>

  <div class="text-container">
    <transition name="fade" mode="out-in">
      <div class="text" v-if="active === 'info'" key="info">
        <h1 class="screen-title">LOREM IPSUM <br>DOLOR SIT AMET.</h1>
        <iframe src="https://player.vimeo.com/video/249370124" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="text" v-if="active === 'credits'" key="credits">
        <h1 class="screen-title">THANKS TO</h1>
        <div class="credits">
          <div class="col-container" v-for="col in credits">
            <div class="col-1">{{col.colOne}}</div>
            <div class="col-2" v-html="col.colTwo"></div>   
          </div>  
        </div>
      </div>
      <div class="text" v-if="active === 'impressum'" key="impressum">
        <h1 class="screen-title">IMPRESSUM</h1>
        <div class="impressum">
          <div class="col-container" v-for="col in impressumCols">
            <div class="col-1">{{col.colOne}}</div>
            <div class="col-2" v-html="col.colTwo"></div>   
          </div>       
        </div>        
      </div>
      <div class="text" v-if="active === 'datenschutz'" key="datenschutz">
        <h1 class="screen-title">DATENSCHUTZ</h1>
        <div class="datenschutz"><p>
          Wir, die Mey Handels GmbH und der mit ihr verbundenen Unternehmen (nachfolgend „Mey“), freuen uns über Ihr Interesse an unserem Webauftritt www.mey.com (nachfolgend „Webauftritt“) und nehmen die Anforderungen des Schutzes und der Sicherheit Ihrer personenbezogenen Daten sehr ernst.

          Die Erhebung und Verwendung Ihrer personenbezogenen Daten erfolgt unter strenger Beachtung der geltenden datenschutzrechtlichen Vorschriften, insbesondere der Vorschriften des Bundesdatenschutzgesetzes (BDSG) und des Telemediengesetzes (TMG). Mey stellt sicher, dass Ihre Privatsphäre bei der Nutzung unseres Webauftritts geschützt ist und eingegebene Daten stets vertraulich behandelt werden. Mey legt zudem besonderen Wert auf Transparenz und Nachvollziehbarkeit der Datenverarbeitungsprozesse. Anhand der nachfolgenden Datenschutzerklärung wollen wir daher erläutern, in welchem Umfang und zu welchem Zwecken wir bei einem Besuch unseres Webauftritts personenbezogene Daten erheben, verarbeiten und speichern. Diensteanbieter gem. § 13 TMG und verantwortliche Stelle gem. § 3 Abs. 7 BDSG ist die Mey Handels GmbH, Auf Steingen 6, 72459 Albstadt.

          Der Datenschutzbeauftragte:
          Wenn Sie Fragen zum Datenschutz haben oder weitere Informationen wünschen, wenden Sie sich bitte an unseren Datenschutzbeauftragten:
          Ingo Wolff
          info@tacticx.com

          1. PERSONENBEZOGENE DATEN

          Personenbezogene Daten sind alle Informationen, die einer Person zugeordnet werden können. Dazu gehören beispielsweise Name, Anschrift, Telefonnummer, E-Mail-Adresse, bestellte Waren, Zahlungsdaten und weitere ggf. für die Geschäftsabwicklung erforderliche persönliche Daten.

          2. ERHEBUNG UND VERARBEITUNG IHRER PERSONENBEZOGENEN DATEN

          Im Rahmen unseres Webauftritts können Sie sich über unsere neuen Produkte und tolle Angebote informieren und über unseren Online-Shop direkt Waren bestellen.

          Wir erheben, verarbeiten und nutzen Ihre personenbezogenen Daten im Rahmen unseres Webauftritts nur, sofern Ihre Einwilligung vorliegt oder eine Rechtsvorschrift dies erlaubt. Es erfolgt insbesondere keine Übermittlung Ihrer Daten an Dritte ohne entsprechende Rechtsgrundlage. Im Einzelnen erheben und verarbeiten wir Ihre personenbezogenen Daten im Rahmen der Nutzung unseres Webauftritts in folgendem Umfang und für die nachstehenden Zwecke:

          a) Besuch unseres Webauftritts

          Bei der bloß informatorischen Nutzung unseres Webauftritts, d.h. wenn Sie sich nicht zur Nutzung des Webauftritts registrieren, anmelden oder uns sonst Informationen übermitteln, erheben wir keine personenbezogenen Daten, mit Ausnahme der Daten, die Ihr Browser übermittelt, um Ihnen den Besuch des Webauftritts zu ermöglichen. Diese sind: IP-Adresse, Datum und Uhrzeit der Anfrage, Zeitzonendifferenz zur Greenwich Mean Time (GMT), Inhalt der Anforderung (konkrete Seite), Zugriffsstatus /HTTP-Statuscode, jeweils übertragene Datenmenge, Website, von der die Anforderung kommt, Browser, Betriebssystem und dessen Oberfläche, Sprache und Version der Browsersoftware.

          Neben der rein informatorischen Nutzung unseres Webauftritts bieten wir zusätzliche Leistungen an, die Sie bei Interesse nutzen können. Dazu müssen Sie in der Regel weitere persönliche Daten angeben, die wir zur Erbringung der jeweiligen Leistung nutzen. Wenn zusätzliche freiwillige Angaben möglich sind, sind diese entsprechend gekennzeichnet.

          b) Nutzung unseres Online-Shops

          Sie können sich bei unserem Online-Shop anmelden und ausgewählte Waren dort direkt bestellen. Wenn Sie bei uns eine Bestellung aufgeben möchten, müssen Sie zunächst Ihre Daten wie Anrede, Name, E-Mail-Adresse, Geburtsdatum und Anschrift in die Bestellmaske eingeben und die Versand- und Zahlungsart auswählen. Ferner können Sie für künftige Einkaufe ein Kundenkonto anlegen, indem Sie in der Bestellmaske „Kundenkonto anlegen und Daten speichern“ auswählen sowie ein von Ihnen gewähltes Passwort eingeben. Wenn Sie schon Kundin/Kunde bei uns sind, können Sie sich ganz einfach über Ihre E-Mail-Adresse und Ihr persönliches Passwort anmelden. Für den Fall, dass Sie eine Bestellung in unserem Online-Shop aufgeben, speichern wir Ihre zur Vertragserfüllung notwendigen Daten, einschließlich Angaben zur Zahlungsweise. Weiterhin speichern wir die von Ihnen angegebenen freiwilligen Daten.

          Sie können Ihre Login-Daten sowie Ihre Kundendaten in dem für Sie zugänglichen Kundenbereich des Online-Shops jederzeit ändern und dort Ihre persönlichen Daten verwalten.

          Sofern wir Ihre Daten für Marketingzwecke verwenden, siehe unter „Nutzung zu Marketingzwecken“.

          c) Cookie-Nutzung

          Um unseren Webauftritt benutzerfreundlich zu gestalten und optimal auf die Bedürfnisse der Nutzer abzustimmen, setzt Mey in einigen Bereichen Cookies ein. Cookies sind kleine Textdateien, die entweder temporär („Session Cookie“) oder dauerhaft („session-übergreifender Cookie“) auf der Festplatte Ihres Computers lokal ablegt und für einen späteren Abruf bereitgehalten werden.

          Der Einsatz und die Auswertung von Cookies erfolgt allein zum Zwecke der statistischen Auswertung sowie zur Optimierung und bedarfsgerechten Gestaltung unseres Webauftritts. Wir verwenden vorrangig Session Cookies, die mit Beenden des Internet-Browsers wieder von Ihrer Festplatte gelöscht werden. Session Cookies kommen z.B. zum Einsatz zur Login-Authentifizierung und zur benutzerfreundlichen Ausgestaltung unseres Webauftritts. Session-übergreifende Cookies setzen wir ein, um einmal vorgenommene Nutzereinstellungen zu speichern und Ihnen damit die Nutzung bestimmter Services auch für die Zukunft zu erleichtern.

          Selbstverständlich können Sie unseren Webauftritt auch ohne den Einsatz von Cookies nutzen. Sie können Ihren Internet-Browser selbst so einstellen, dass dieser keine Cookies akzeptiert oder Sie benachrichtigt, sobald Cookies gesetzt werden. Die Vorgehensweise zur Deaktivierung von Cookies können Sie in der Regel über die „Hilfe“-Funktion Ihres Internet-Browsers erhalten. Wir weisen insoweit allerdings darauf hin, dass die Funktionalitäten unseres Webauftritts in diesem Fall ggf. nur eingeschränkt zur Verfügung stehen.

          d) Datenweitergabe an Dritte

          Sofern dies für die Erbringung der verschiedenen im Rahmen des Webauftritts angebotenen Leistungen erforderlich ist, übermitteln wir Ihre personenbezogenen Daten im Einklang mit den geltenden Rechtsvorschriften auch an Dritte, z.B. im Rahmen der Erfüllung der vertraglichen Leistungen.

          Mey setzt darüber hinaus externe Dienstleister ein, die z.B. in unserem Auftrag Daten verarbeiten. Diese werden von uns sorgfältig ausgewählt und schriftlich beauftragt. Sie sind an unsere Weisungen gebunden und werden von uns regelmäßig kontrolliert.

          e) Kontaktanfragen

          Sofern Sie Fragen zu unserem Webauftritt, den von uns angebotenen Waren oder Leistungen haben oder sonst mit uns in Kontakt treten möchten, steht Ihnen hierfür u.a. das Kontaktformular auf unserem Webauftritt zur Verfügung. Gerne können Sie auch direkt über die unten stehenden Kontaktdaten  an uns wenden. Um Ihre Kontaktanfragen angemessen bearbeiten zu können, erheben, verarbeiten und nutzen wir hierfür die von Ihnen mitgeteilten personenbezogenen Daten wie Anrede, Name, E-Mail-Adresse und ggf. weitere freiwillig mitgeteilte Daten.

          f) Bestellung unseres Newsletters

          Sie haben die Möglichkeit, sich auf unserem Webauftritt für die Zusendung unseres Newsletters zu registrieren, mit dem wir Sie über tolle Aktionen, exklusive Preisvorteile oder die neuesten Mey Kollektionen informieren. Für die Anmeldung zu unserem Newsletter verwenden wir das sog. Double-Opt-In-Verfahren. Nach Angabe Ihres Nachnamens und Ihrer E-Mail-Adresse in dem dafür vorgesehenen Formular senden wir Ihnen eine Bestätigungs-E-Mail mit einem anklickbaren Bestätigungslink an diese. In dieser Bestätigungs-Email bitten wir Sie durch Anklicken auf den Bestätigungslink um Bestätigung, dass Sie den Versand des Newsletters wünschen. Erst nach Bestätigung des Links werden wir Ihre E-Mail-Adresse in den Newsletter-Verteiler aufnehmen. Sie wird so lange gespeichert, bis Sie den Newsletter abbestellen. Die Speicherung dient alleine dem Zweck, Ihnen den Newsletter senden zu können.

          Pflichtangabe für die Übersendung des Newsletters ist die E-Mail-Adresse sowie die Angabe des Nachnamens. Der Nachname wird zur Personalisierung des Newsletters verwendet.

          Ihre Einwilligung in die Übersendung des Newsletters ist freiwillig und jederzeit mit Wirkung für die Zukunft widerrufbar. Am Ende jedes Newsletters sowie auf unserem Webauftritt unter der Rubrik Newsletter findet sich ein Link, über den Sie den Newsletter jederzeit abbestellen können.

          g) Nutzung zu Marketingzwecken

          Mey verarbeitet und nutzt die von Ihnen erhobenen personenbezogenen Daten für Zwecke der Werbung oder der Markt- und Meinungsforschung ausschließlich im gesetzlich zulässigen Umfang.

          Sie können jederzeit der Verarbeitung und Nutzung Ihrer personenbezogenen Daten für Zwecke der Werbung sowie der Markt- und Meinungsforschung widersprechen.

          Bitte wenden Sie sich in diesem Fall über die unten stehenden Kontaktdaten  oder durch eine Nachricht an das auf dem Webauftritt bereitgestellte Kontaktformular an uns.

          Sofern wir von Ihnen im Zusammenhang mit dem Verkauf einer Ware Ihre E-Mail-Adresse erhoben haben, können wir Sie über eigene ähnliche Waren per E-Mail informieren, sofern Sie der Verwendung Ihrer E-Mail-Adresse nicht widersprochen haben. Den Widerspruch können Sie jederzeit mit Wirkung für die Zukunft über die unten stehenden Kontaktdaten  oder durch eine Nachricht an das auf dem Webauftritt bereitgestellte Kontaktformular an uns richten, ohne dass hierfür andere als die Übermittlungskosten nach den Basistarifen entstehen.

          h) Bonitätsprüfung und Scoring

          Sofern wir in Vorleistung treten, z.B. bei einem Kauf auf Rechnung, holen wir zur Wahrung unserer berechtigten Interessen ggf. eine Bonitätsauskunft auf der Basis mathematisch-statistischer Verfahren bei der Creditreform Boniversum GmbH, Hellersberstraße 11, 41460 Neuss ein. Hierzu übermitteln wir die zu einer Bonitätsprüfung benötigten personenbezogenen Daten an die Creditreform und verwenden die erhaltenen Informationen über die statistische Wahrscheinlichkeit eines Zahlungsausfalls für eine abgewogene Entscheidung über die einzuräumende Zahlungsoption. Die Bonitätsauskunft kann Wahrscheinlichkeitswerte (Score-Werte) beinhalten, die auf Basis wissenschaftlich anerkannter mathematisch-statistischer Verfahren berechnet werden und in deren Berechnung unter anderem Anschriftendaten einfließen. Ihre schutzwürdigen Belange werden gemäß den gesetzlichen Bestimmungen berücksichtigt. Sie können dieser Prüfung mit Wirkung für die Zukunft jederzeit widersprechen.

          Bitte wenden Sie sich in diesem Fall über die unten stehenden Kontaktdaten  oder durch eine Nachricht an das auf dem Webauftritt bereitgestellte Kontaktformular an uns. Dies kann zu Folge haben, dass wir Ihnen bestimmte Zahlungsoptionen nicht mehr anbieten können.

          3. EINSATZ VON GOOGLE ANALYTICS

          Wir verwenden Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, also Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieses Webauftritts werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Wir weisen Sie darauf hin, dass auf unserem Webauftritt Google Analytics um den Code „anonymizeIp“ erweitert wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP Masking) zu gewährleisten. Die IP-Anonymisierung ist auf dieser Webseite aktiviert. Damit wird Ihre IP-Adresse von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum vor einer Übertragung gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.

          In unserem Auftrag wird Google diese Informationen benutzen, um Ihre Nutzung des Webauftritts auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber Mey zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.

          Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern. Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieses Webauftritts vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link (http://tools.google.com/dlpage/gaoptout?hl=de)  verfügbare Browser-Plugin herunterladen und installieren.

          4. EINSATZ VON SOCIAL PLUGINS

          Unser Webauftritt beinhaltet sogenannte Social Plugins (nachfolgend Schaltflächen) der folgenden sozialen Netzwerke:

          •           facebook.com, betrieben von der Facebook Ireland Limited Hanover Reach, 5-7 Hanover Quay, Dublin 2 Ireland ("Facebook"); und

          •           twitter.com, betrieben von Twitter Inc, Attn: Copyright Agent, 795 Folsom Street, Suite 600, San Francisco, CA 94107, USA (“Twitter”).

          Die Plugins sind mit einem Facebook- bzw. Twitter-Logo gekennzeichnet. Wenn Sie eine Webseite unseres Webauftritts aufrufen, die ein solches Plugin enthält, wird von Ihrem Browser eine direkte Verbindung mit den Servern von Facebook und Twitter hergestellt und der Button von dort geladen. Zugleich erhält das soziale Netzwerk mit dem Aufruf von Ihnen die Information übermittelt, dass die entsprechende Seite unseres Webauftritts aufgerufen wurde.

          Damit Sie selber entscheiden können, wann Ihre Daten erhoben werden, bieten wir eine zweistufige Lösung an. Bei Ihrem Besuch auf unserem Webauftritt sind die Schaltflächen daher standardmäßig deaktiviert, d.h. sie senden ohne Ihr Zutun keine Daten an die jeweiligen sozialen Netzwerke. Bevor Sie die Schaltflächen nutzen können, müssen Sie diese mit Ihrem Klick aktivieren. Die Schaltfläche bleibt so lange aktiv, bis Sie sie wieder deaktivieren oder Ihre Cookies löschen. Nähere Informationen zu Cookies erhalten Sie in unseren Cookie-Hinweisen (siehe unter „Cookie-Nutzung“).

          Nach der Aktivierung wird eine direkte Verbindung mit dem Server des jeweiligen sozialen Netzwerks aufgebaut. Der Inhalt der Schaltfläche wird dann von den sozialen Netzwerken direkt an Ihren Browser übertragen und von diesem in die Webseite eingebunden. Mit dem Klick auf den Button entscheiden Sie daher, dass das soziale Netzwerk bei Ihnen Daten erhebt. Nach Aktivierung einer Schaltfläche kann das jeweilige soziale Netzwerk bereits Daten erheben, unabhängig davon, ob Sie mit der Schaltfläche interagieren. Sind Sie bei einem sozialen Netzwerk eingeloggt, kann dieses Ihren Besuch dieses Webauftritts, insbesondere Ihre IP-Adresse sowie die URL Ihrem Benutzerkonto zuordnen. Den Besuch anderer Mey-Webauftritte kann ein soziales Netzwerk nicht zuordnen, bevor Sie nicht auch dort die jeweilige Schaltfläche aktiviert haben. Wenn Sie Mitglied bei einem sozialen Netzwerk sind und nicht möchten, dass dieses die bei Ihrem Besuch unseres Webauftritts gesammelten Daten mit Ihren gespeicherten Mitgliedsdaten verknüpft, müssen Sie sich daher vor der Aktivierung der Schaltflächen aus dem jeweiligen sozialen Netzwerk ausloggen.

          Auf den Umfang der Daten, die von den sozialen Netzwerken mit ihren Schaltflächen erhoben werden, haben wir keinen Einfluss. Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch die jeweiligen sozialen Netzwerke sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmen Sie bitte den Datenschutzhinweisen der jeweiligen sozialen Netzwerke.

          Facebook: https://www.facebook.com/about/privacy

          Twitter: https://twitter.com/privacy?lang=de  

          5. SICHERHEIT

          Personenbezogene Daten, die zwischen Ihnen und Mey ausgetauscht werden, werden über verschlüsselte Verbindungen übertragen, die dem aktuellen Stand der Technik entsprechen. Durch SSL (Secure Socket Layer) wird die Datenübertragung im zugriffsgeschützen Bereich vor illegalem Datenzugriff Dritter geschützt (128-Bit SSL). Dieses Verschlüsselungsverfahren erkennen Sie daran, dass das Schlüsselsymbol in der unteren Menüleiste Ihres Browserfensters erscheint und die Adresse mit „https://www.“ beginnt. Zudem treffen wir technische und organisatorische Sicherheitsvorkehrungen, um Ihre durch uns verwalteten personenbezogenen Daten gegen zufällige oder vorsätzliche Manipulation, Verlust, Zerstörung oder gegen den Zugriff unberechtigter Personen zu schützen. Gegen unautorisierte Zugriffe setzt Mey ein Firewall-System ein.

          Unsere Datenverarbeitung und unsere Sicherheitsvorkehrungen werden entsprechend der technologischen Entwicklungen den aktuellen Gegebenheiten und Anforderungen angepasst und fortlaufend entwickelt. Unsere Beschäftigten sind nach § 5 BDSG auf das Datengeheimnis verpflichtet.

          6. AUSKUNFT

          Wir erteilen Ihnen jederzeit gerne unentgeltlich Auskunft über die zu Ihrer Person bei Mey gespeicherten Daten. Wenn Sie die Berichtigung, Sperrung oder Löschung Ihrer Daten wünschen oder im Falle von Fragen oder Anregungen zum Thema Datenschutz und Datensicherheit stehen wir Ihnen gerne zur Verfügung. Sie können auch von Ihnen ggfs. erteilte Einwilligungen zur weitergehenden Verwendung Ihrer personenbezogenen Daten jederzeit mit Wirkung für die Zukunft widerrufen.

          Bitte richten Sie sich in diesem Fall entweder per E-Mail an info@tacticx.com, über die unten stehenden Kontaktdaten  oder durch eine Nachricht an das auf dem Webauftritt bereitgestellte Kontaktformular an uns.

          7. LÖSCHUNG DER DATEN

          Ihre Daten werden solange gespeichert wie dies für die Erbringung unserer Leistungen erforderlich ist bzw. eine Speicherung aufgrund gesetzlicher oder rechtlicher Pflichten vorgeschrieben ist.

          8. ÄNDERUNGEN DER DATENSCHUTZERKLÄRUNG

          Von Zeit zu Zeit ist es erforderlich, den Inhalt der vorliegenden Datenschutzerklärung anzupassen. Wir behalten uns daher vor, diese jederzeit zu ändern. Wir werden die geänderte Version der Datenschutzerklärung ebenfalls an dieser Stelle veröffentlichen. Sie sollten daher bei ihrem Besuch auf unserem Webauftritt regelmäßig die Datenschutzerklärung einsehen.

          9. STAND

          Der Stand dieser Datenschutzerklärung ist der 01.01.2017.

          KONTAKTDATEN

          Mey Handels GmbH

          Auf Steingen 6

          72459 Albstadt

          Deutschland

          

          Kundenservice (erreichbar von Montag bis Freitag 9.30 - 18.00 Uhr):

          Kundenservice: +49 (0) 7431 / 706 5111
          Fax: +49 (0) 7431 / 706 5222
          E-Mail: service@mey.com          
        
        </p></div>
      </div>
    </transition>
  </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: [],
  components: {},
  data () {
    return {
      active: 'info',
      impressumCols: [
        {
          colOne: 'Adresse',
          colTwo: 'Mey Handels GmbH<br>Auf Steingen 6<br>72459 Albstadt<br>Kundenservice: +49 (0) 7431 / 706 5111<br>Fax: +49 (0) 7431 / 706 5222<br>E-Mail: <a href="mailto:service@mey.com">service@mey.com</a>'
        },
        {
          colOne: 'Geschäftsführer',
          colTwo: 'Matthias Mey<br>Roland Kull<br>Markus Mey<br>Florian Mey'
        },
        {
          colOne: 'HANDELSREGISTER',
          colTwo: 'Stuttgart HRB 732775'
        },
        {
          colOne: 'HANDELSREGISTER',
          colTwo: 'DE 269876477'
        },
        {
          colOne: 'Steuernummer',
          colTwo: '53089/17947'
        },
        {
          colOne: 'ONLINE-STREITBEILEGUNG',
          colTwo: 'Plattform der EU-Kommission zur Online-Streitbeilegung: <a href="http://ec.europa.eu/consumers/odr" target="_blank">http://ec.europa.eu/consumers/odr</a>. Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder verpflichtet noch bereit.'
        }
      ],
      credits: [
        {
          colOne: 'Client',
          colTwo: 'Mey'
        },
        {
          colOne: 'Creative Direction',
          colTwo: 'Hami Hamster'
        },      
        {
          colOne: 'Art Direction',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Creative Copy',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Management',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Creative Direction',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Director',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Assistant Director',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Cameraman/DoP',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: '1st Assistant Cameraman',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: '2st Assistant Cameraman',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Editor',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Assistant Editor',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Gaffer',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Make-Up Artist',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Sound Editor',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Location Scout',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Programmer',
          colTwo: 'Hami Hamster'
        },        
        {
          colOne: 'Programmer',
          colTwo: 'Hami Hamster'
        }
      ]
    }
  },
  mounted () {
    this.$refs.page.addEventListener('touchmove', function (event) {
      // event.preventDefault()
      event.stopPropagation()
    }, false)
  },
  computed: {
    ...mapGetters([])
  },
  watch: {},
  methods: {
    closePage (event) {
      this.$emit('close')
    },
    makeActive (item) {
      this.active = item
    }
  }
}
</script>

<style lang="scss">
  .infoPage {
    height: 112%;
    width: 112%;
    position: absolute;
    top: -11%;
    bottom: 0;
    left: -6%;
    right: 0;
    margin: 3.5% auto;
    z-index: $zindex-info-page;
    background: $c-cream;
    color: $c-black;
    padding: 10%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .text-container{
      overflow: auto;
      height: auto;
      -webkit-overflow-scrolling: touch;
    // -ms-overflow-style: none;

      .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .credits{
      width: 100%;

      .col-container {
          display: flex;
          justify-content: center;
          width: 100%;
          margin: 0 auto $space-s;

          .col-1{
            font-weight: 400;
            text-align: right;
            margin-right: $space-s;
            width: 50%;
          }
          .col-2{
            width: 50%;
          }
      }      
    }

    .impressum{
      a{
        font-weight: 700;
        color: $c-black;
      }
      .col-container {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          width: 80%;
          margin: 0 auto $space-s;

          .col-1{
            width: 40%;
          }
          .col-2{
            width: 60%;
            font-weight: 400;
          }
      }      
    }

    .logo{
      position: absolute;
      top: 5%;
      left: 5%;
    }

    .close{
      position: absolute;
      top: 5%;
      right: 5%;
    }

    nav.page-menu {
        display: flex;
        justify-content: space-around;
        width: 60%;
        height: $space-s;
        margin: 0 auto;
        position: absolute;
        top: 5%;
        bottom: 0;
        left: 0;
        right: 0;

        a{
          border-bottom: 3px solid $c-black;
          opacity: 0.5;
          color: $c-black;
          text-decoration: none;
          text-transform: uppercase;

          &.selected{
            opacity: 1;
          }
        }
    }
  }
</style>
