<template>
<div class="ui">
  <div class="logo">
    <a @click="cheat()">
      <svg width="57px" height="20px" viewBox="0 0 57 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="UI-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="UI-Font12px" transform="translate(-64.000000, -48.000000)" fill="#FFFFFF">
                <g id="mey-logo" transform="translate(64.000000, 48.000000)">
                    <path d="M27.9208103,3.058033 C28.145659,2.87005795 28.4635872,2.82764895 28.7708618,2.84885345 L34.8479448,2.84885345 C35.1552193,2.91132077 35.4423079,3.20474522 35.544359,3.49816968 C35.6267848,3.91710186 35.5858522,4.41970586 35.5858522,4.85984254 L27.5518566,4.85984254 C27.5927891,4.23173082 27.3881264,3.47696518 27.9208103,3.058033 M38.8856892,10.8297694 C38.7623308,10.3059609 38.2913261,9.86639731 37.7580814,9.76152099 L28.5146128,9.76152099 L28.1052872,9.61480877 C27.3881264,9.2801215 27.5720425,8.33738081 27.5311099,7.64565558 L37.6150978,7.64565558 C38.1483425,7.56198377 38.6602798,7.14305159 38.82401,6.61924309 C39.0084869,5.6770755 38.9058751,4.67129441 38.9473684,3.66551331 C38.8856892,3.20474522 38.7830775,2.76518164 38.6193472,2.34624945 C38.0866633,1.06824841 36.7947645,0.146712228 35.4832405,0 L28.556106,0 C27.9404355,0.020631407 27.3264472,0.0630404103 26.7932025,0.292851361 C25.3583201,0.816659861 24.2514589,2.34624945 24.2105263,3.89589736 L24.2105263,8.65143668 C24.2105263,9.42683372 24.4359357,10.0967814 24.7847036,10.7248931 C25.5018644,11.9398537 26.7522699,12.589743 28.1052872,12.6315789 L37.5943511,12.6315789 C37.8814398,12.6109475 38.1483425,12.5060712 38.3737519,12.3387276 C38.8447567,11.9822627 39.0084869,11.3959869 38.8856892,10.8297694" id="Fill-1"></path>
                    <path d="M55.6854621,0.113130483 C55.0419434,-0.0237648777 54.3780566,0.231236284 53.996019,0.780428259 L47.2547608,9.21747721 L45.2019965,9.21747721 C44.7995908,9.159498 44.3569996,8.9232864 44.2166256,8.51206347 L44.1158865,8.11909326 L44.1158865,1.30975699 C44.1158865,1.27808316 43.7586208,-0.0586597734 42.4280948,0.00200366075 C41.0304095,0.0664250068 40.8157197,1.39779949 40.8157197,1.40799954 L40.8157197,8.58990593 C40.8960908,9.96422798 42.0036697,11.3568027 43.3710783,11.749773 C43.8544054,11.9451844 44.4577387,11.9650476 45.0214369,11.9849109 L45.0010689,12.063827 L38.9473684,20 L42.8470151,20 L56.611931,2.35016172 C56.8530441,1.99745485 56.9130471,1.46705244 56.7523051,1.05475582 C56.591563,0.623132805 56.1489718,0.211373035 55.6854621,0.113130483" id="Fill-3"></path>
                    <path d="M22.0789132,11.1789675 L22.0997915,4.71747716 C22.1206698,3.81516917 22.0997915,2.91342231 21.7076177,2.15420421 C21.1297963,0.984795101 19.8928972,0.123450098 18.6136771,0 L12.6532002,0 C12.2051629,0 11.9010166,0.251950427 11.6555553,0.566748178 C11.379623,0.921947778 11.3880872,1.38151882 11.3327879,1.43707137 C10.776409,0.676730992 9.9508691,0.0415241239 9.00231645,0 L1.55665778,0 L1.10241336,0.103249173 C0.545470189,0.287863183 0.0917900393,0.861345002 0.00996961433,1.41574817 L0.00996961433,10.7272524 C-0.0323512951,11.2608935 0.0505976874,11.7530105 0.442771448,12.1227996 C0.875573282,12.5531916 1.4737088,12.7170435 2.09215836,12.5733925 C2.69142244,12.4505035 3.20660897,11.8556985 3.28899368,11.2816556 L3.28899368,2.81017314 L8.5486363,2.81017314 L8.83754705,2.91342231 C9.14677182,3.07727426 9.43624685,3.38477723 9.41536853,3.75456639 L9.41536853,10.8916655 C9.37304762,11.5066714 9.62076601,12.0403125 10.1156385,12.3685776 C10.5698829,12.6356787 11.2509674,12.7378056 11.7458399,12.4914665 C12.2615908,12.2664507 12.7147066,11.7120475 12.7564633,11.1582055 L12.7564633,2.81017314 L17.8507722,2.81017314 L18.1808753,2.89266025 C18.4489077,3.03631128 18.6966261,3.28265034 18.7378185,3.56939124 L18.7586968,10.7272524 C18.6966261,11.3843436 18.8822738,11.9785875 19.4183387,12.3483766 C19.8928972,12.6356787 20.635488,12.7378056 21.1512389,12.4505035 C21.6461114,12.2047256 22.0174068,11.7120475 22.0789132,11.1789675" id="Fill-6"></path>
                </g>
            </g>
        </g>
      </svg>
    </a>
  </div>
  <div class="info">
    <a @click="showInfoPage()">INFO</a>
  </div>
  <div class="language" v-if="currentLevel === 'intro'">
    <a @click="setLanguage('en')" :class="{ 'selected': language === 'en' }">EN</a>
    <a @click="setLanguage('de')" :class="{ 'selected': language === 'de' }">DE</a>
  </div>
  <transition name="fade" mode="out-in">
    <info-page v-if="showInfo" v-on:close="closePage"></info-page>
  </transition>
  <div class="pause" v-if="currentLevel !== 'intro'">
    <a @click="showPauseMenu()">PAUSE</a>
  </div>
  <transition name="fade" mode="out-in">
    <pause-page v-if="showPause"></pause-page>
  </transition>
  <div class="restart">
    <a @click="restart()">RESTART</a>
  </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import infoPage from '~/components/InfoPage.vue'
import pausePage from '~/components/PausePage.vue'
export default {
  props: [],
  components: {
    infoPage,
    pausePage
  },
  data () {
    return {
      showInfo: false,
      showPause: false
    }
  },
  mounted () {},
  computed: {
    ...mapGetters([
      'language',
      'currentLevel'
    ])
  },
  watch: {
    'showPause': function (val) {
      // change state
      this.$store.dispatch('triggerPauseMenu', val)
    }
  },
  methods: {
    cheat () {
      this.$bus.$emit('nextScene', 3)
    },
    restart () {
      this.$bus.$emit('levelRestart')
      this.$bus.$emit('nextScene', 2)
    },
    closePage () {
      console.log('triggerClosePagetriggerClosePagetriggerClosePage')
      this.showInfo = false
    },
    showPauseMenu () {
      this.showPause = !this.showPause
    },
    showInfoPage () {
      this.showInfo = !this.showInfo
    },
    setLanguage (id) {
      this.$store.dispatch('setLanguage', id)
    }
  }
}
</script>

<style lang="scss">
  .ui-wrapper{
    height: 90%;
    width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 3.5% auto;

    .pause,
    .language{
      position: absolute;
      top: 0;
      right: 0;
      z-index: $zindex-language-and-pause;

      a{
        font-size: 80%;
        margin-left: 5px;
        opacity: 0.5;

        &.selected{
          border-bottom: 3px solid white;
          opacity: 1;
        }
      }
    }

    .logo{
      position: absolute;
      top: 0;
      left: 0;
      z-index: $zindex-logo;

      @media screen and (min-width: 768px) {
        top: 0;
      }
    }

    .restart{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 5000;
    }

    .info{
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: $zindex-info;

      a{
        font-size: 80%;
        border-bottom: 3px solid white;

        &:hover,
        &:active{
          opacity: 0.5;
        }
      }
    }
  }
</style>
