<template>
<div class="landscape-guerd">
  <h5>HEY DARLING,</h5>
  <h1>SPIN<br> ME UPSIDE <br>DOWN.</h1>
  <svg width="253px" height="155px" viewBox="0 0 253 155" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <rect id="path-1" x="0" y="0" width="176" height="119" rx="8"></rect>
      </defs>
      <g id="*-Turn-Device-Screen" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="TURN-Tablet" transform="translate(-258.000000, -579.000000)">
              <g id="Group-4" transform="translate(131.000000, 291.000000)">
                  <g id="Group-3" transform="translate(127.000000, 288.000000)">
                      <g id="Group" opacity="0.25" stroke="#000000">
                          <rect id="Rectangle" stroke-width="4" transform="translate(52.500000, 77.500000) rotate(-90.000000) translate(-52.500000, -77.500000) " x="-23" y="27" width="151" height="101" rx="8"></rect>
                          <ellipse id="Oval" stroke-width="2" transform="translate(52.970588, 137.036932) rotate(-90.000000) translate(-52.970588, -137.036932) " cx="52.9705882" cy="137.036932" rx="4.96306818" ry="4.97058824"></ellipse>
                          <path d="M46.5,59.5 L58.5,71.5" id="Line" stroke-width="5" stroke-linecap="square"></path>
                          <path d="M46.5,59.5 L58.5,71.5" id="Line-Copy" stroke-width="5" stroke-linecap="square" transform="translate(52.500000, 65.500000) scale(-1, 1) translate(-52.500000, -65.500000) "></path>
                      </g>
                      <g id="Group-2" transform="translate(77.000000, 20.000000)">
                          <g id="Rectangle">
                              <use fill-rule="evenodd" xlink:href="#path-1"></use>
                              <rect stroke="#000000" stroke-width="4" x="2" y="2" width="172" height="115" rx="8"></rect>
                          </g>
                          <polyline id="Path-4" stroke="#000000" stroke-width="5" points="79 60.8476562 88.4023438 70.9101562 104.226562 49"></polyline>
                          <circle id="Oval" stroke="#000000" stroke-width="2" cx="17.5" cy="59.5" r="5.5"></circle>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      isMobileBrowser: false,
      isPortrait: false,
      guerdActive: false
    }
  },
  mounted () {
    window.addEventListener('resize', this.handleResize)
    setTimeout(function () {
      this.handleResize()
    }.bind(this), 100)
  },
  computed: {
    ...mapGetters([
      'gamePreloaded'
    ])
  },
  watch: {
    isMobileBrowser: function (val) {
      // change state
      this.$store.dispatch('setMobileView')
    },
    guerdActive: function (val, oldVal) {
      // change state
      this.$store.dispatch('triggerLandscapeGuerd', val)
    }
  },
  methods: {
    handleResize: function () {
      if (window.innerWidth >= 1025) {
        this.isMobileBrowser = false
      } else {
        this.isMobileBrowser = true
      }
      if (window.innerHeight > window.innerWidth) {
        this.isPortrait = true
      } else {
        this.isPortrait = false
      }
      this.checkTilt()
    },
    checkTilt: function () {
      if (this.isMobileBrowser && this.isPortrait) {
        this.guerdActive = true
      } else {
        this.guerdActive = false
      }
    }
  },
  beforeDestroy: function () {
    window.removeEventListener('resize', this.handleResize)
  }
}
</script>

<style lang="scss">
  .landscape-guerd{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #F2D9BC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: $zindex-landscape-guerd;

    h1{
      text-align: center;
      margin: $space-s 0px $space-l $space-xxs;

      @media screen and (min-width: 768px) {
        width: 65%;
      }
    }

    h5{
      color: $c-grey;
      margin-left: $space-xxs;
    }
  }
</style>
