<template>
<div class="levels" :class="[levelClass, sceneClass]">
  <transition name="fade" mode="out-in">
  <div class="level-name level-bg" :class="{ 'hide-bg': hideLevelName }">
    <h4 class="screen-subtitle" v-html="text.levelTitle[language]"></h4>
    <h1 class="screen-title" v-html="text.levelName[language]"></h1>
  </div>
  </transition>
  <transition name="fade" mode="out-in">
  <div class="level-how-to" v-if="scene === 1">
    <h5 class="screen-subtitle" v-html="text.levelIntroTitle[language]"></h5>
    <p class="screen-text" v-html="text.levelIntroText[language]"></p>

    <button class="btn" @click="nextScene(2)" ref="startBtn">
      <span class="btn__content">Go</span>
    </button>
  </div>
  </transition>
  <transition name="fade" mode="out-in">
  <div class="level-touch" v-if="scene === 2">
    <countdown :start="true"></countdown>
    <touch-area :startBtnCenterX="startBtnCenterX" :startBtnCenterY="startBtnCenterY"></touch-area>
  </div>
  </transition>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import TouchArea from '~/components/TouchArea.vue'
import Countdown from '~/components/Countdown.vue'
export default {
  props: [
    'level',
    'scene',
    'timeline',
    'text'
  ],
  components: {
    TouchArea,
    Countdown
  },
  data () {
    return {
      hideLevelName: false,
      startBtnCenterX: 0,
      startBtnCenterY: 0
    }
  },
  mounted () {
    // levels loaded fade first level name
    // next level would be triggered from the scene watch
    setTimeout(function () {
      console.log('@@ Mounted Levels, hideLevelName after 2s')
      this.hideLevelName = true
    }.bind(this), 2000)
  },
  computed: {
    ...mapGetters([
      'levels',
      'language'
    ]),
    levelClass () {
      return 'level-' + this.level
    },
    sceneClass () {
      return 'scene-' + this.scene
    }
  },
  watch: {
    level: function (val, oldVal) {
      // change level
      if (val && val !== oldVal) {
        if (val < this.levels) {
          this.$store.dispatch('setLevel', this.level)
        }
      }
    },
    scene: function (val, oldVal) {
      // change level
      // console.log(' ?? Levels watch scene', val, oldVal, val !== oldVal)
      if (val !== oldVal) {
        if (val === 0) {
          this.hideLevelName = false
          // start video after 1 sec (hides level name)
          setTimeout(function () {
            this.hideLevelName = true
          }.bind(this), 2000)
        }
      }
    }
  },
  methods: {
    nextScene (id) {
      this.$bus.$emit('playSoundEffect', 'tap-resonant')
      this.$bus.$emit('nextScene', id)

      if (this.$refs.startBtn) {
        const rect = this.$refs.startBtn.getBoundingClientRect();
        this.startBtnCenterX = Math.round(rect.left + rect.width / 2);
        this.startBtnCenterY = Math.round(rect.top + rect.height / 2);
      }
    }
  }
}
</script>

<style lang="scss">
  .levels {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindex-levels;

    .level-name,
    .level-how-to{
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .level-bg{
      visibility: visible;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      img{
        height: auto;
        max-width: 100%;
        position: relative;
      }

      &.hide-bg {
        visibility: hidden;
        opacity: 0;
        transition: all 1s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }

    .screen-text{
      width: 80%;
      text-align: center;
      margin: $space-xs 0;
    }

    @media screen and (min-width: 768px) {
      .screen-text{
        margin: $space-m 0;
      }
    }
  }
</style>
