<template>
<div ref="page" class="pausePage">
  <div class="text">
    <h1 class="screen-title">VERSCHNAUFPAUSE</h1>
    <div class="pause-menu">
      <a @click="home()" class="selected">HOME</a>
      <a @click="showInfoPage()" class="selected">INFO</a>
      <a @click="mey()" class="selected">MEY.DE</a>
      <div class="pause-language">
        <a @click="setLanguage('en')" :class="{ 'selected': language === 'en' }">EN</a>
        <a @click="setLanguage('de')" :class="{ 'selected': language === 'de' }">DE</a>
      </div>
      <div class="pause-audio">
        <a @click="mute()">
          <svg width="16px" height="17px" viewBox="0 0 16 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="*-Phone-Screens" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                  <g id="Mobile-Menu" transform="translate(-366.000000, -187.000000)" stroke="#FFFFFF" stroke-width="2">
                      <g id="Group-10" transform="translate(90.000000, 187.000000)">
                          <g id="Group-8" transform="translate(276.000000, 0.000000)">
                              <g id="Group-7" transform="translate(0.000000, 1.000000)">
                                  <g id="SOUND_ON" transform="translate(7.666667, 7.500000) rotate(90.000000) translate(-7.666667, -7.500000) translate(0.166667, 0.000000)">
                                      <path d="M2.5,13.3333333 L14.1666667,13.3333333" id="Line-Copy-2"></path>
                                      <path d="M6.66666667,9.16666667 L14.1666667,9.16666667" id="Line-Copy-3"></path>
                                      <path d="M0.833333333,5 L14.1666667,5" id="Line-Copy-4"></path>
                                      <path d="M8.33333333,0.833333333 L14.1666667,0.833333333" id="Line-Copy-5"></path>
                                  </g>
                                  <g id="SOUND_OFF" transform="translate(8.083333, 13.750000) rotate(90.000000) translate(-8.083333, -13.750000) translate(6.833333, 6.666667)">
                                      <path d="M0.833333333,13.3333333 L1.66666667,13.3333333" id="Line-Copy-2"></path>
                                      <path d="M0.833333333,9.16666667 L1.66666667,9.16666667" id="Line-Copy-3"></path>
                                      <path d="M0.833333333,5 L1.66666667,5" id="Line-Copy-4"></path>
                                      <path d="M0.833333333,0.833333333 L1.66666667,0.833333333" id="Line-Copy-5"></path>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
        </a>
      </div>
      <a @click="tweet()">
        <svg class="twitter" width="16px" height="14px" viewBox="0 0 16 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="*-Phone-Screens" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Mobile-Menu" transform="translate(-418.000000, -188.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g id="Group-10" transform="translate(90.000000, 187.000000)">
                        <g id="Group-8" transform="translate(276.000000, 0.000000)">
                            <g id="Group-5" transform="translate(52.000000, 0.000000)">
                                <path d="M14.3553686,4.32290457 C14.3655249,4.46873094 14.3655249,4.61458937 14.3655249,4.76041574 C14.3655249,9.20831239 11.0660432,14.3333333 5.03555092,14.3333333 C3.17766866,14.3333333 1.45178692,13.781226 0,12.8229338 C0.263969781,12.854164 0.517752022,12.8645848 0.791878093,12.8645848 C2.32485283,12.8645848 3.73604584,12.333351 4.8629565,11.4270984 C3.42132586,11.3958362 2.21319615,10.4270912 1.79694452,9.09374827 C2.00000781,9.12497846 2.20303986,9.14581996 2.41625944,9.14581996 C2.71066684,9.14581996 3.00510549,9.10413696 3.27920031,9.03125584 C1.77666319,8.71872953 0.649721288,7.36457715 0.649721288,5.7291607 L0.649721288,5.68750977 C1.08625424,5.93751157 1.59391248,6.09375869 2.13194583,6.11456813 C1.24869238,5.51038909 0.670033867,4.47915169 0.670033867,3.3124766 C0.670033867,2.68748813 0.832440752,2.11457133 1.11672311,1.61456773 C2.73094817,3.65623309 5.1573639,4.98954398 7.87815577,5.13540241 C7.82740558,4.88540061 7.79693671,4.62501012 7.79693671,4.36458757 C7.79693671,2.51039951 9.25887992,1 11.076137,1 C12.020297,1 12.8730815,1.40624892 13.4720839,2.06249965 C14.2131805,1.91667328 14.9238395,1.63540923 15.5533108,1.2500018 C15.3096223,2.03126946 14.7918703,2.68752019 14.1116801,3.1041578 C14.771589,3.03127668 15.4111852,2.84373525 16,2.58334476 C15.5533733,3.24998417 14.9949648,3.8437104 14.3553686,4.32290457 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </a>
      <a @click="facebook()">
        <svg class="facebook" width="9px" height="16px" viewBox="0 0 9 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="*-Phone-Screens" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Mobile-Menu" transform="translate(-470.000000, -187.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g id="Group-10" transform="translate(90.000000, 187.000000)">
                        <g id="Group-8" transform="translate(276.000000, 0.000000)">
                            <g id="Group-5" transform="translate(52.000000, 0.000000)">
                                <path d="M54.396875,16 L54.396875,8.84375 L52,8.84375 L52,6 L54.396875,6 L54.396875,3.759375 C54.396875,1.325 55.884375,0 58.05625,0 C59.096875,0 59.990625,0.078125 60.25,0.1125 L60.25,2.65625 L58.74375,2.65625 C57.5625,2.65625 57.334375,3.21875 57.334375,4.040625 L57.334375,6 L60,6 L59.634375,8.84375 L57.334375,8.84375 L57.334375,16" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </a>
    </div>
    <transition name="fade" mode="out-in">
      <info-page v-if="showInfo" v-on:close="closePage"></info-page>
    </transition>
  </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import infoPage from '~/components/InfoPage.vue'

export default {
  props: [],
  components: {
    infoPage
  },
  data () {
    return {
      showInfo: false
    }
  },
  mounted () {
  },
  computed: {
    ...mapGetters([
      'language',
      'currentLevel'
    ])
  },
  watch: {},
  methods: {
    closePage (val) {
      this.showInfo = false
    },
    showInfoPage () {
      this.showInfo = !this.showInfo
    },
    setLanguage (id) {
      this.$store.dispatch('setLanguage', id)
    }
  }
}
</script>

<style lang="scss">
  .pausePage {
    height: 90%;
    width: 110%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5%;
    right: 0;
    margin: 3.5% auto;
    z-index: $zindex-pause-page;
    background: rgba(0,0,0, 0.9);
    padding: 5%;

    .selected{
      border-bottom: 3px solid white;
    }

    .pause-menu{
      display: flex;
      justify-content: space-between;
      width: 60%;
      margin: 0 auto;
    }

    .pause-language{
      a{
        font-size: 100%;
        margin-left: 10px;
        opacity: 0.5;

        &.selected{
          border-bottom: 3px solid white;
          opacity: 1;
        }
      }
    }

    .text{
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
</style>
