<template>
<div class="preloader" v-show="!hide">
  <svg version="1.1" id="L2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
    <circle fill="none" stroke="#fff" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="48"/>
    <line fill="none" stroke-linecap="round" stroke="#fff" stroke-width="4" stroke-miterlimit="10" x1="50" y1="50" x2="85" y2="50.5">
      <animateTransform
          attributeName="transform"
          dur="2s"
          type="rotate"
          from="0 50 50"
          to="360 50 50"
          repeatCount="indefinite" />
    </line>
    <line fill="none" stroke-linecap="round" stroke="#fff" stroke-width="4" stroke-miterlimit="10" x1="50" y1="50" x2="49.5" y2="74">
      <animateTransform
          attributeName="transform"
          dur="15s"
          type="rotate"
          from="0 50 50"
          to="360 50 50"
          repeatCount="indefinite" />
    </line>
  </svg>
</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      hide: false
    }
  },
  mounted () {
    this.$bus.$on('endPreloader', function (val) {
      console.log(':: BUS :: endPreloader', val)
      this.hide = true
    }.bind(this))
  },
  computed: {
    ...mapGetters([])
  },
  watch: {
    'hide': function (val) {
      if (val) {
        this.$store.dispatch('setPreloaded')
      }
    }
  },
  methods: {
  }
}
</script>

<style lang="scss">
  .preloader {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 100%;
    height: 100%;
    z-index: $zindex-preloader;

    svg{
      width: 80px;
    }
  }
</style>
