<template>
  <div class="touch-area">
    <div class="progress">progress: {{progress}}, flip(L-5): {{flipDevice.hasFliped}}</div>
    <div class="feedback-wrapper" :class="[{'success': success}, {'fail': fail}]"></div>
    <div class="touch-area__canvas-container">
      <canvas class="touch-area__canvas" ref="canvas" width="100" height="100"></canvas>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import config from '~/config.js';
import TouchArea from '~/view/toucharea/TouchArea';

export default {
  props: ['startBtnCenterX', 'startBtnCenterY'],
  data() {
    return {
      success: false,
      fail: false,
      dragEnded: false,
      progress: -1,
      flipDevice: {
        yO: null,
        hasFliped: false
      }
    };
  },
  mounted() {
    this.touchArea = new TouchArea(this.$refs.canvas);

    window.addEventListener("deviceorientation", this.handleDeviceFlip);

    // Signal will be dispatched, when the dragging ended,
    // either on touchend or because the user successfully
    // dragged both handles along the given path.
    this.handleDragEndedBinding = this.touchArea.handleDragEnded.add((success) => {
      console.log(`TouchAreaComponent.handleDragEnded: success=${success}`);
      if (success) {
        this.success = true;
      } else {
        this.fail = true;
        this.$bus.$emit('videoRestart');
        this.success = false;
        this.dragEnded = false;
        this.failTimeout = setTimeout(() => {
          this.fail = false;
        }, 250);
      }
    });

    // Signal will be dispatched, when the user is dragging.
    // The progress can be accessed trough a public variable:
    this.handleDraggedBinding = this.touchArea.handleDragged.add(() => {
      this.progress = this.touchArea.progress;
      // console.log(`TouchAreaComponent.handleDragged: progress=${progress}`);
    });

    // Start the level with the given options
    this.touchArea.startLevel(this.dragOptions, true, true, this.startBtnCenterX, this.startBtnCenterY);
  },
  computed: {
    ...mapGetters(['currentLevel']),
    dragOptions() {
      console.log(`TouchAreaComponent: currentLevel=${this.currentLevel}`);
      return config.game.levels[this.currentLevel].drag;
    }
  },
  watch: {
    'progress': function (val, oldVal) {
      if (val > oldVal) {
        this.$bus.$emit('videoSeekNextFrame', val)
      }
    },
    success: function(val) {
      console.log('watch success', val, this.dragEnded, val && this.dragEnded);
      if (val) {
        console.log('watch success');
        this.$bus.$emit('playSoundEffect', 'ohyeh');
        this.nextSceneTimeout = setTimeout(
          function() {
            this.$bus.$emit('nextScene', 3);
          }.bind(this),
          250
        );
      }
    }
  },
  methods: {
    cheat() {
      console.log('cheater !');
      this.dragEnded = true;
      this.success = true;
    },
    handleDeviceFlip (e) {
      if (this.level === 4) {
        var y = -e.gamma
        var ym = -e.gamma < 0
        var yf = -e.gamma.toFixed(1)
        var yOm = (this.flipDevice.yO < 0)
        var diff = Math.abs(this.flipDevice.yO - y).toFixed(1)
        var hasF = yOm ? (ym < yOm && diff > 35) /* start ground */ : (ym > yOm && diff > 130) /* start face */
        if (!this.flipDevice.yO) this.flipDevice.yO = yf // starting pos
        // this.flipDevice.x = [e.alpha.toFixed(1), e.beta.toFixed(1), e.gamma.toFixed(1)]
        this.flipDevice.y = {yOm: yOm, ym: ym, diff: diff}
        this.flipDevice.hasFliped = hasF
      }
    }
  },
  beforeDestroy: function() {
    if (this.touchArea) {
      this.touchArea.handleDragEnded.detach(this.handleDragEndedBinding);
      this.touchArea.handleDragged.detach(this.handleDraggedBinding);
    }
    clearTimeout(this.failTimeout);
    clearTimeout(this.nextSceneTimeout);
    window.removeEventListener('deviceorientation', this.handleDeviceFlip)
  }
};
</script>

<style lang="scss">
.touch-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__canvas-container {
    height: 100vh;
    overflow: hidden;
    z-index: $zindex-touch-area;
  }

  &__canvas {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .progress{
    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 12px;
    z-index: $zindex-touch-area;
  }

  .god {
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 9px;
    z-index: $zindex-touch-area;
  }

  .feedback-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    transition: background-color 0.4s linear;

    &.fail,
    &.success {
      transition-duration: 0s;
    }

    &.fail {
      background-color: red;
    }

    &.success {
      background-color: green;
    }
  }
}
</style>
