<template>
  <div class="touch-area-intro">
    <div class="touch-area-intro__canvas-container">
      <canvas class="touch-area-intro__canvas" ref="canvas" width="100" height="100"></canvas>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import config from "~/config.js";
import TouchArea from "~/view/toucharea/TouchArea";

export default {
  mounted() {
    this.touchArea = new TouchArea(this.$refs.canvas, 25);

    // Signal will be dispatched, when the dragging ended,
    // either on touchend or because the user successfully
    // dragged both handles along the given path.
    this.handleDragEndedBinding = this.touchArea.handleDragEnded.add(
      success => {
        if (success) {
          this.$emit("succeed");
        }
      }
    );

    this.handleDragStartedBinding = this.touchArea.handleDragStarted.add(() => {
      this.$emit("started");
    });

    // Start the level with the given options
    this.touchArea.startLevel(this.dragOptions);
  },
  computed: {
    dragOptions() {
      return config.game.intro.drag;
    }
  },
  watch: {},
  methods: {},
  beforeDestroy: function() {
    if (this.touchArea) {
      this.touchArea.handleDragEnded.detach(this.handleDragEndedBinding);
      this.touchArea.handleDragStarted.detach(this.handleDragStartedBinding);
    }
  }
};
</script>

<style lang="scss">
.touch-area-intro {
  position: absolute;
  top: 0;
  left: 0;

  &__canvas-container {
    height: 100vh;
    overflow: hidden;
    z-index: $zindex-touch-area;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__canvas {
    display: block;
  }
}
</style>
