<template>
<div class="v_video-wrapper" :class="{ 'hidden': !fadeIn }">
  <div class="video-debug" style="font-size: 12px;">lvl: {{level}} scn: {{scene}}, duration: {{duration}}, currentTime: {{currentTime}}</div>
  <video class="v_video"
    ref="videoPlayer"
    playsinline="true"
    autoplay
    :muted="true"
    :src="src"
    @canplay="canPlayHandler"
    @canplaythrough="canPlayThroughHandler"
    @error="errorHandler"
    @playing="playingHandler"
    @pause="pauseHandler"
    @play="playHandler"
    @loadedmetadata="metaDataHandler"
    @loadstart="loadstartHandler"
    @loadeddata="loadeddataHandler"
    @stalled="stalledHandler"
    @seeked="seekedHandler"
    @seeking="seekingHandler"
    @ended="endedHandler">
  </video>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
// import config from '../config.js'
export default {
  props: [
    'src',
    'level',
    'scene',
    'timeline'
  ],
  data () {
    return {
      duration: -1,
      playing: false,
      autoPause: false,
      mutedData: false,
      muted: true,
      currentTime: -1,
      stopCheck: false,
      fadeIn: false,
      sceneRestart: false,
      reqId: ''
    }
  },
  mounted () {
    window.addEventListener("deviceorientation", function(e) {
      if (this.scene === 2) {
        this.$refs.videoPlayer.style.transform = "translate(" + (-50 -Math.max(-4.5, Math.min(4.5, e.beta) ) ) + "%," + -50 + "%)"
      }
    }.bind(this));

    // just fading it in
    this.$bus.$on('startIntroVideo', function (val) {
      this.fadeIn = true
    }.bind(this))

    this.$bus.$on('levelRestart', function (val) {
      this.sceneRestart = true
    }.bind(this))

    this.$bus.$on('videoSeekNextFrame', function (val) {
      // console.log(':: BUS :: seekFrame')
      this.seekFrame()
    }.bind(this))

    this.$bus.$on('videoRestart', function (val) {
      // console.log(':: BUS :: videoRestart')
      this.sceneRestart = true
      this.seekToStart()
    }.bind(this))
  },
  computed: {
    ...mapGetters([
      'introFinished',
      'gamePreloaded',
      'showLandscapeGuerd',
      'levelScenes',
      'showPauseMenu',
      'levels',
      'levelConfig'
    ])
  },
  watch: {
    level: function (val, oldVal) {
      console.log(' ?? VideoPlayer watch level', val, val !== oldVal)
      // change level
      if (val !== oldVal) {
        if (val < this.levels) {
          this.seek(this.timeline.start)
        }
      }
    },
    scene: function (val, oldVal) {
      // change level
      console.log('-- VideoPlayer watch scene', val, val !== oldVal, 'is restart?', this.sceneRestart, this.levelConfig.restart)
      if (val !== oldVal) {
        if (val !== 1) {
          if (this.sceneRestart) {
            this.seek(this.levelConfig.restart)
          } else {
            this.seek(this.timeline.start)
          }
        }
      }
    },
    introFinished: function (val, oldVal) {
      if (val && val !== oldVal) {
        // play movie after game intro finished (start the game !)
        console.log('introFinished play game')
        // this.play()
      }
    },
    showLandscapeGuerd: function (val) {
      // TODO: check if video should play or not
      if (val) {
        this.pause()
      } else {
        if (this.introFinished && this.scene !== 2) {
          console.log('showLandscapeGuerd play game', this.scene)
          this.play()
        }
      }
    },
    showPauseMenu: function (val) {
      // TODO: check if video should play or not
      if (val) {
        this.pause()
      } else {
        if (this.introFinished && this.scene !== 2) {
          console.log('showPauseMenu play game', this.scene)
          this.play()
        }
      }
    }
  },
  methods: {
    playHandler (){
      var video = this.getDomVideo()
      console.log('@? playHandler:', Math.round(video.currentTime * 1000));
      var start = Math.round(this.timeline.start * 1000)
      var stop = Math.round(this.timeline.finish * 1000)
      var scope = this

      this.reqId = requestAnimationFrame(function play() {
        scope.currentTime = Math.round(video.currentTime * 1000)

        // show game intro interface after pre game intro
        if (scope.scene === 0 && video.currentTime > start) {
          if (!scope.stopCheck) {
            // console.log(':: !! timeChecker videoPlaying')
            // show game name after the intro video is finished
            scope.$bus.$emit('showGameName', true)
            scope.stopCheck = true
            scope.fadeIn = true
          }
        }

        // pause video on touch scene
        if (scope.scene === 2) {
          if (scope.currentTime >= Math.round(scope.levelConfig.restart * 1000)) {
            video.pause()
          }
        }

        // check each frame if to stop the video
        if (scope.currentTime >= stop) {
          console.log(':: !! timeChecker should I pause?', video.currentTime >= scope.timeline.finish, 'finish:', scope.timeline.finish, 'scene:', scope.scene)
          video.pause()
        }
        scope.reqId = requestAnimationFrame(play);
      })
    },
    /* Events */
    // loadeddataHandler triggers seek to set starting position of the video on load
    // here we end the preloader as well since the video will start playing
    loadeddataHandler: function (evt) {
      console.log('loadeddataHandler')
      this.$bus.$emit('endPreloader', true)
      this.seek(this.timeline.start)
    },
    // seekedHandler finished seeking start playing
    seekedHandler: function () {
      console.log('seekedHandler finished', this.sceneRestart, 'is paused?', this.getDomVideo().pause)
      if (this.sceneRestart) {
        this.pause()
        this.sceneRestart = false
        return
      }
      if (this.scene === 1) {
        this.pause()
      }
      console.log('seekedHandler play video')
      // FIXME: this.play is not working on iPad Pro
      // this.play()
      this.getDomVideo().play();
    },
    pauseHandler: function () {
      // console.log('pauseHandler')
      if (this.reqId) {
        cancelAnimationFrame(this.reqId);
      }
      this.playing = false

      if (this.level === 'intro') {
        // after the first pre game video finished load the game interface
        this.$bus.$emit('startIntro')
      } else {
        // if the game has started, play next scene
        if (this.scene === 3) {
          this.$bus.$emit('nextLevel', this.level + 1)
        } else {
          console.log('pauseHandler current scn:', this.scene, 'should play next?', this.scene === 0)
          // if (this.scene === 1) this.$bus.$emit('nextScene', this.scene + 1)
          if (this.scene === 0) this.$bus.$emit('nextScene', this.scene + 1)
        }
      }
    },
    // playingHandler triggers timeChecker (on watch)
    playingHandler: function () {
      console.log('playingHandler')
      this.playing = true
    },
    /* Functions */
    getDomVideo: function () {
      // console.log('REF CHECK', this.$refs, this.context, this.$el.querySelector('video'))
      return this.$el.querySelector('video')
    },
    seek: function (time) {
      this.getDomVideo().currentTime = time
      this.currentTime = this.getDomVideo().currentTime
      this.log('time', this.getDomVideo().currentTime)
      return this
    },
    seekToStart: function () {
      var video = this.getDomVideo()
      video.currentTime = this.levelConfig.restart
      console.log('$$ VideoRestart', video.currentTime, this.levelConfig.restart)
    },
    seekFrame: function () {
      var frameTime = 1 / 25 // assume 25 fps
      var video = this.getDomVideo()
      // video.currentTime = 16

      if (video.currentTime < this.timeline.finish) {
        // one frame forward
        // Don't go past the end, otherwise you may get an error
        // video.currentTime = Math.min(video.duration, video.currentTime + frameTime)
        video.currentTime = Math.min(this.timeline.finish, video.currentTime + frameTime)
        console.log('$$ VideoSeekFrame', Math.min(this.timeline.finish, video.currentTime + frameTime), Math.min(video.duration, video.currentTime + frameTime))
      }
    },
    pause: function () {
      var _v = this.getDomVideo()
      if (!_v.paused) _v.pause()
      return this
    },
    play: function () {
      var _v = this.getDomVideo()
      if (_v.paused && _v.readyState > 2) {
        _v.play()
      }
      return this
    },
    // timeChecker triggers audio play / next scene
    timeChecker: function () {
      let _v = this.getDomVideo()
      this.currentTime = _v.currentTime
      console.log(':: !! timeChecker videoPlaying time:', _v.currentTime)
      if (this.scene < 4 && _v.currentTime > this.timeline.start) {
        if (!this.stopCheck) {
          // console.log(':: !! timeChecker videoPlaying')
          // show game name after the intro video is finished
          this.$bus.$emit('showGameName', true)
          this.stopCheck = true
          this.fadeIn = true
        }
      }

      if (_v.currentTime >= this.timeline.finish) {
        console.log(':: !! timeChecker should I pause?', _v.currentTime >= this.timeline.finish, 'finish:', this.timeline.finish, 'scene:', this.scene)
        _v.pause()
      }

      if (this.playing) this.timeoutChecker = setTimeout(this.timeChecker, 200)
    },
    /* Not used events */
    seekingHandler () {
      // console.log('seekingHandler started')
    },
    canPlayHandler: function (e) {
      // console.log('canPlayHandler')
    },
    canPlayThroughHandler: function () {
      // this.log('video can play through (is buffered)')
    },
    loadstartHandler: function (evt) {
      // this.log('loadstartHandler')
    },
    metaDataHandler: function () {
      let _v = this.getDomVideo()
      // console.log('metaDataHandler')
      this.duration = _v.duration
    },
    stalledHandler: function () {
      // this.log('stalledHandler')
    },
    errorHandler: function (e) {
      this.log('video error', e)
    },
    endedHandler: function (e) {
    },
    log: function (...args) {
      args.unshift('VideoPlayer.vue | ')
      console.log.apply(console, args)
    },
    getDuration: function () {
      return this.duration
    },
    // listen event
    onPlayerPlay (player) {
      // console.log('player is playing!', player)
    },
    onPlayerPause (player) {
      // console.log('player is on pause!', player)
    }
  },
  beforeDestroy: function () {
    clearTimeout(this.timeoutChecker)
    this.log('beforeDestroy')
  }
}
</script>
<style lang="scss">
  .v_video-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      transition: opacity 1s;
  }
  .v_video {
      position: absolute;
      top: 50%; left: 50%;
      right: 0; bottom: 0;
      // width: 130vw;
      // height: auto;
      height: 100vh;
      max-width: none;
      max-height: none;
      display: block;
      transform: translate(-50%, -50%);
  }
  .video-debug{
    color: white;
    text-align: center;
    position: absolute;
    font-size: 9px;
    bottom: 9%;
    width: 100%;
    z-index: $zindex-video-player-debug;
  }
</style>
