// global css here

// Spaces
$space-xxs: 8px;
$space-xs: 16px;
$space-s: 24px;
$space-m: 32px;
$space-l: 48px;
$space-xl: 64px;
$space-xxl: 128px;

// Colors
$c-white: #fff;
$c-black: #000;
$c-grey: #3e3e3e;
$c-beige: #ebe6d5;
$c-cream: #f0e1d7;

// Font
$font-weight-extra-bold: 800;

// z-index
$zindex-game-intro: 1000;
$zindex-game-options: 1001;
$zindex-info-page: 5001;
$zindex-logo: 5000;
$zindex-info: 5000;
$zindex-landscape-guerd: 8000;
$zindex-levels: 1000;
$zindex-touch-area: 100;
$zindex-video-player-debug: 200;
$zindex-video-wrapper: 300;
$zindex-links: 5000;
$zindex-language-and-pause: 5000;
$zindex-pause-page: 5001;
$zindex-preloader: 9000;

// Imports
@import "mixins/mixins.remove-tab-highlight.scss";

h1 {
  font-size: 2.4em;
  font-weight: 800;
  line-height: 1.1em;
  margin: $space-xs 0px $space-xs $space-xxs;

  @media screen and (min-width: 768px) {
    font-size: 3.6em;
    margin: $space-s 0px $space-l $space-xxs;
  }
}

h5 {
  font-size: 0.6em;

  @media screen and (min-width: 768px) {
    font-size: 0.8em;
  }
}

p {
  font-weight: 400;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  word-spacing: 1px;
  color: $c-white;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.screen-title {
  text-align: center;
}

.screen-subtitle {
  margin-left: $space-xxs;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.btn {
  $_size: 48px;

  @include remove-tap-highlight;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 0;
  min-width: $_size;
  height: $_size;
  font-size: 12px;
  font-weight: $font-weight-extra-bold;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: transparent;
  border: 2px solid rgba(#fff, 0.4);
  border-radius: $_size / 2;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  z-index: 0;
  overflow: hidden;

  &__content {
    flex: 0 0 auto;
    position: relative;
  }

  &--round {
    width: $_size;
  }
}
