<template>
  <div class="game-container">
    <!-- Interface -->
    <landscape-guerd v-show="showLandscapeGuerd"></landscape-guerd>
    <interface class="ui-wrapper"></interface>
    <preloader></preloader>
    <!-- Game Intro -->
    <game-intro v-if="level === 'intro'" :text="texts"></game-intro>
    <!-- Levels -->
    <section v-if="currentLevel !== 'intro'" class="level-container" :class="{ 'hidden': !gamePreloaded }">
      <levels :text="texts" :level="level" :scene="scene" :timeline="timeline"></levels>
    </section>
    <!-- Video Player -->
    <video-player v-if="show" :src="src" :level="level" :scene="scene" :timeline="timeline"></video-player>
    <!-- Audio Player -->
    <audio-player :level="level" :scene="scene" :timeline="timeline"></audio-player>
  </div>
</template>

<script>
  import VideoPlayer from '~/components/VideoPlayer.vue'
  import AudioPlayer from '~/components/AudioPlayer.vue'
  import LandscapeGuerd from '~/components/LandscapeGuerd.vue'
  import GameIntro from '~/components/GameIntro.vue'
  import Interface from '~/components/Interface.vue'
  import Levels from '~/components/Levels.vue'
  import Preloader from '~/components/Preloader.vue'
  import { mapGetters } from 'vuex'
  import config from '../config.js'
  export default {
    components: {
      VideoPlayer,
      AudioPlayer,
      Interface,
      LandscapeGuerd,
      GameIntro,
      Levels,
      Preloader
    },
    data () {
      return {
        show: false,
        hidePreloader: false,
        showIntro: false,
        online: true,
        level: 'intro',
        scene: 0
      }
    },
    computed: {
      ...mapGetters([
        'gamePreloaded',
        'showLandscapeGuerd',
        'currentLevel',
        'currentScene'
      ]),
      src () {
        return config.videoFiles[1]
      },
      texts () {
        if (this.level === 'intro') return config.game.intro.text
        if (!config.game.levels[this.level].timeline) return
        return config.game.levels[this.level].text
      },
      config () {
        if (this.level === 'intro') return config.game.intro
        return config.game.levels[this.level]
      },
      timeline () {
        // set the intro movie timeline
        if (this.level === 'intro') return config.game.intro
        return config.game.levels[this.level].timeline[this.scene]
      },
      scenes () {
        if (!config.game.levels[this.level].timeline) return
        return config.game.levels[this.level].timeline.length - 1
      }
    },
    watch: {
      currentLevel: (val) => {
        this.level = val
      },
      currentScene: (val) => {
        this.scene = val
      }
    },
    mounted () {
      this.fetchLevels()

      // wait 3s and load the video player (faking the preloader)
      setTimeout(function () {
        this.show = true
      }.bind(this), 2000)

      this.$bus.$emit('startIntroVideo')
      this.$bus.$emit('videoSeekPlay', true)

      if (!window.navigator) {
        this.online = false
        return
      }
      if (navigator.standalone === true) {
        // My app is installed and therefore fullscreen
      }
      this.online = Boolean(window.navigator.onLine)
      window.addEventListener('offline', this._toggleNetworkStatus)
      window.addEventListener('online', this._toggleNetworkStatus)
      // disable scroll on mobile
      document.body.addEventListener('touchmove', function (event) {
        event.preventDefault()
      }, false)

      this.$bus.$on('endPreloader', function (val) {
        this.hidePreloader = true
      }.bind(this))

      this.$bus.$on('nextScene', function (val) {
        console.log(':: BUS :: index nextScene', val)
        this.setScene(val)
      }.bind(this))

      this.$bus.$on('nextLevel', function (val) {
        console.log(':: BUS :: index nextLevel', val)
        this.setLevel(val)
      }.bind(this))
    },
    methods: {
      fetchLevels () {
        this.$store.dispatch('setLevels', config.game.levels.length - 1)
      },
      setScene (id) {
        this.scene = id
        this.$store.dispatch('setScene', id)
      },
      setLevel (id) {
        console.log('level', id)
        this.level = id
        this.scene = 0
        this.$store.dispatch('setLevel', id)
        this.$store.dispatch('setScene', 0)
        this.$store.dispatch('setLevelScenes', this.scenes)
        this.$store.dispatch('setLevelConfig', this.config)
      },
      _toggleNetworkStatus ({ type }) {
        this.online = type === 'online'
      }
    },
    destroyed () {
      window.removeEventListener('offline', this._toggleNetworkStatus)
      window.removeEventListener('online', this._toggleNetworkStatus)
    }
  }
</script>

<style lang="scss">
  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 1s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  }
  .level-container,
  .level{
    visibility: visible;
    opacity: 1;
    height: 100%;
  }

  .videowrapper {
    z-index: $zindex-video-wrapper;
    position: absolute;
    top: 0;
    left: 43%
  }

  .game-container {
    width: 100vw;
    height: 98vh;
    position: relative;
    overflow: hidden;
    background: black;

    @media screen and (min-width: 760px) {
      height: 93vh;
    }
  }

  .links {
    z-index: $zindex-links;
  }

  .network {
    font-weight: 400;
    font-size: 1rem;
  }

  .network .circle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: green;
    padding: .1rem .5rem;
    border-radius: 1rem;
  }

  .network.offline .circle {
    background: red;
  }
</style>
