<template>
  <div class="game-container">
    <landscape-guerd v-show="showLandscapeGuerd"></landscape-guerd>
    <interface class="ui-wrapper"></interface>
    <touch-area></touch-area>
  </div>
</template>

<script>
  import TouchArea from '~/components/TouchArea.vue'
  import LandscapeGuerd from '~/components/LandscapeGuerd.vue'
  import Interface from '~/components/Interface.vue'
  import Levels from '~/components/Levels.vue'
  import Preloader from '~/components/Preloader.vue'
  import { mapGetters } from 'vuex'
  import config from '../config.js'
  export default {
    components: {
      Interface,
      LandscapeGuerd,
      Levels,
      Preloader,
      TouchArea
    },
    data () {
      return {
        online: true,
        level: 0,
        scene: 0,
        src: 'https://player.vimeo.com/external/249370124.hd.mp4?s=515c32a3b54c7248adc5910ac970d9382df9cd0c&profile_id=174'
      }
    },
    computed: {
      ...mapGetters([
        'triggerTouchSuccess',
        'triggerTouchStart',
        'gamePreloaded',
        'showLandscapeGuerd'
      ]),
      timeline () {
        return config.game.levels[this.level].timeline[this.scene]
      }
    },
    watch: {
      triggerLandscapeGuerd: function (val) {
      }
    },
    mounted () {
      // console.dir('introPlayer', this.$refs.introPlayer)
      // var introPlayer = this.$refs.introPlayer
      // introPlayer.addEventListener('playing', function () { console.log('introPlayer canPlay') })
      if (!window.navigator) {
        this.online = false
        return
      }
      if (navigator.standalone === true) {
        // My app is installed and therefore fullscreen
      }
      this.online = Boolean(window.navigator.onLine)
      window.addEventListener('offline', this._toggleNetworkStatus)
      window.addEventListener('online', this._toggleNetworkStatus)
      // disable scroll on mobile
      document.body.addEventListener('touchmove', function (event) {
        event.preventDefault()
      }, false)

      this.$bus.$on('nextScene', function (val) {
        console.log(':: BUS :: nextScene', val)
        if (val) {
          this.fetchScene(val)
        } else {
          // fetch first intro scene
          this.fetchScene(val)
        }
      }.bind(this))

      this.$bus.$on('nextLevel', function (val) {
        console.log(':: BUS :: nextLevel', val)
        if (val) {
          this.fetchLevel(val)
        } else {
          // fetch first intro scene
          this.fetchLevel(this.level)
        }
      }.bind(this))
    },
    methods: {
      fetchScene (scene) {
        this.scene = scene++
      },
      fetchLevel (level) {
        var timeline = config.levels[level].timeline
        this.level = level
        this.timeline = timeline
        this.scene = timeline[0]
      },
      _toggleNetworkStatus ({ type }) {
        this.online = type === 'online'
      }
    },
    destroyed () {
      window.removeEventListener('offline', this._toggleNetworkStatus)
      window.removeEventListener('online', this._toggleNetworkStatus)
    }
  }
</script>

<style lang="scss">
  .game-container {
    width: 100vw;
    height: 93vh;
    position: relative;
    overflow: hidden;
    background: black;
  }

  @media screen and (max-width: 760px) {
    .game-container {
      height: 98vh;
    }
  }
</style>
